<!DOCTYPE html>
<html lang="de">

<head>
	<%- include('partials/head'); %>
</head>

<body>
	<main>

		<div class="main_container container">


			<div>
				<h2>Die Evalution war nicht erfolgreich</h2>
				<p>
					Es scheint, dass eine oder mehrere ihre Eingaben inkorrekt waren und deshalb nicht evaluiert sein könnten.
					Überprüfen Sie bitte ihre Eingaben und versuchen erneut.
				</p>
			</div>
			<div>
				<h2>Die Aufgabe, die Sie bearbeitet haben lautet:</h2>
				<p><%- task %></p>
			</div>
			<div>
				<h2>
					Ihr Beitrag:
				</h2>
				<p><%- input%></p>
			</div>
			<div class="btn-container"><a class="btn btn-primary" href="/">Erneut versuchen</a></div>

		</div>


	</main>


</body>

</html>