<!DOCTYPE html>
<html lang="de">

<head>
	<%- include('partials/head'); %>
</head>

<body>
	<main>

		<div class="main_container container">

			<div class="section-box">
				<h2>Die Aufgabe, die Sie bearbeitet haben lautet:</h2>

				<p>
					<%- task %>
				</p>
			</div>
			<div class="section-box">
				<h2>
					Ihr Beitrag:
				</h2>

				<p>
					<%- input%>
				</p>
			</div>
			<div class="section-box">
				<h2>Die Aufgabe wurde wie folgend evaluiert:</h2>


				<div id="outdut_text">

					<%- output %>
				</div>
			</div>

			<a class="btn btn-primary" href="/">Erneut versuchen</a>


		</div>

	</main>


</body>

</html>