<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { 
    
     background: #CCD5AE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
     }

     .main_container {
      background-color: #E9EDC9;
    border-radius: 1rem;
    box-shadow: 0 10px 30px var(--shadow);
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 2rem;
    
     }

     .container {
      padding: 1rem;
     }

     
</style>