<meta charset="UTF-8">
<title>Ergebnis</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
	body {

		background: #D3D3D3;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 1rem;
		font-family: sans-serif;
	}

	.main_container {
		background-color: #f8f8f8;
		border-radius: 1rem;
		box-shadow: 0 10px 30px var(--shadow);
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 2rem;

	}

	.container {
		padding: 1rem;
	}

	/*Button Override*/
	.btn-primary {
		background-color: #444;
		border-color: #444;
		margin-top: 2rem;
	}

	.btn-primary:hover {
		background-color: #333;
		border-color: #333;
	}

	.btn-container {
		margin: auto
	}
</style>